﻿@model Rezepte_Thomas_Tobias.Models.ViewModels.OneRecipeViewModel
@using Rezepte_Thomas_Tobias.Models

@{
    ViewBag.Title = "OneRecipe";
}
<span style="display: none" id="count">@Model.CountPeople</span>
<script type="text/javascript">function calculateMenge(o) {
    var val = o.value;
    if (val < 1) {
    o.value = 1;
    }
    else {
            var oldCount = $('#count').html();
            var fields = $('.mengenField');
            fields.each(function() {
                let field = $(this);
                field.html((field.html().trim() / oldCount) * val);
            });
            $('#count').html(val);
    }

    }</script>

<h2>@Model.Recipe</h2>
<table id="ShowOneRecipe">
    <thead>
        <tr>
            <th>Zutaten</th>
            <th>Menge</th>
            <th>Einheit</th>
            <th>
                <img src="~/Media/Images/@Model.ToString()" height=50 width=50 />
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (Ingredients i in Model.Ingredients)
            {
                <tr>
                    <td>
                        @i.Name
                    </td>
                    <td class="mengenField">
                        @i.Menge
                    </td>
                    <td>
                        @i.Einheit
                    </td>

                </tr>
            }
            <tr>
                <td><input type="number" value="@Model.CountPeople" onchange="calculateMenge(this)" /></td>

            </tr>
        }
        else
        {
            <tr>
                <td> Kein Rezept vorhanden!</td>


            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td> <button>@Html.ActionLink("Back", "ShowAllRecipes")</button> </td>
        </tr>
    </tfoot>
</table>
<table>
    <tr>
        <th>Kommentar</th>
        <th></th>
    </tr>
    <tr>
    @if (Model.NewComment.Comment != null)
    {
            using (Html.BeginForm("SaveEditComment", "Recipe", FormMethod.Post))
            {
                    @Html.Hidden("commentID", Model.NewComment.Id);

                    @Html.TextArea("comment", Model.NewComment.Comment, new {cols=40, rows=10});

                    <td>
                        <span style="float:right"><input type="submit" value="Save" /></span>
                    </td>
            }
    }
    </tr>
</table>


