﻿@model Rezepte_Thomas_Tobias.Models.ViewModels.OneRecipeViewModel
@using Rezepte_Thomas_Tobias.Models

<!DOCTYPE html>
<html>
    <head>
        <title>SaveNewRecipe</title>
    </head>
<body>

    <script type="text/javascript">
        var rowCount = 0;
                function add_row()
                {
                        var trhtml = document.getElementById( "IngredientsTable" ).insertRow( 1 );
                        trhtml.id = rowCount;
                        var tdhtml1 = document.createElement( "td" );
                        var tdhtml2 = document.createElement( "td" );
                        var tdhtml3 = document.createElement( "td" );
                        var tdhtml4 = document.createElement( "td" );
                        tdhtml1.id = name;
                        tdhtml1.innerHTML = document.getElementById("NameInput").value; // content
                        tdhtml2.innerHTML = document.getElementById("MengeInput").value;
                        tdhtml3.innerHTML = document.getElementById("EinheitInput").value;
                        tdhtml4.innerHTML = '<button id="' + rowCount + '" onclick="deleteRow(this.id)">X</button>';
                        rowCount++;
                        trhtml.appendChild( tdhtml1 );
                        trhtml.appendChild( tdhtml2 );
                        trhtml.appendChild( tdhtml3 );
                        trhtml.appendChild( tdhtml4 );
                        document.getElementById("NameInput").value = '';
                        document.getElementById("MengeInput").value = '';
                        document.getElementById("EinheitInput").value = '';
                }
        function deleteRow(rowid)
        {
            var row = document.getElementById(rowid);
            row.parentNode.removeChild(row);
        }
        function myFunction() {
            for (var i = 0; i < document.getElementById("IngredientsTable").rows.length; i++) {
            alert(document.getElementById("IngredientsTable").rows[i].cells.namedItem("name").innerHTML);
            }
        }

    </script>


    <div class="container-fluid">

        <div style="text-align: center;">

            <div style="display: inline-block;">

                @using (Html.BeginForm("SaveNewRecipe", "Recipe", FormMethod.Post))
                {
                    <p>Rezeptname:</p>
                    @Html.TextBoxFor(p => p.Recipe)
                    <br />
                    <p>Beschreibung:</p>
                    @Html.TextAreaFor(p => p.Description, new { cols = 40, rows = 5 })
                    <p>Zutanten:</p>
                    <table id="IngredientsTable" border="1">
                        <tr>
                            <th>Name</th>
                            <th>Menge</th>
                            <th>Einheit</th>
                        </tr>
                        <tr>
                            <td>
                                <input id="NameInput" type="text" />
                            </td>
                            <td>
                                <input id="MengeInput" type="text" />
                            </td>
                            <td>
                                <input id="EinheitInput" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Eintrag hinzufügen" onclick="add_row()" />
                            </td>
                        </tr>
                    </table>
                    <p>Für wie viele Personen:</p>
                    @Html.TextBoxFor(p => p.CountPeople)
                    <br />
                    <input type="submit" value="Posten" />
                }
            </div>

        </div>

    </div>

</body>
</html>


