﻿@model List<Rezepte_Thomas_Tobias.Model.Recipe>
@using Rezepte_Thomas_Tobias.Models

<!DOCTYPE html>

@if ((Model != null) && (Model.Count >= 1))
{
    <table id="AllRecipes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe r in Model)
            {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Description</td>
                <td> <img src="@string.Format("../Media/Images/{0}.jpg", @r.Id)" height=50 width=50 /> </td>
                <td>@r.Username</td>
                <td> <button>@Html.ActionLink("Details", "OneRecipe/" + @r.Id)</button></td>

            </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
}
else
{
    <p>Keine Rezepte vorhanden!</p>
}
