﻿*{
    /*border: 1px solid black;*/
    font-family: 'Courier New';
}
/*für alles, border um margin genau einzustellen*/

#container{
    /*width: 1200px;
    margin: 0px auto;
    min-width: 600px;*/
}

/*header {
    height: 100px;
    border-bottom: 1px solid #dddddd;
}

main{
    min-height: 400px;
    /*border: 5px dotted red;
}

nav {
    float: left;
    width: 15%;
    min-height: 400px;
    /*border: 5px dotted blue;
}

content {
    float: left;
    width: 70%;
    min-height: 400px;
    padding: 10px;
    /*border: 5px dotted green;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

aside {
    float: right;
    width: 15%;
    min-height: 400px;
}

footer {
    clear: both;
    height: 50px;
    text-align: right;
    padding: 16px 10px 0px 10px;
    font-size: 80%;
    letter-spacing: 3px;
    border-top: 1px solid #dddddd;
}*/

footer a{
    padding-left: 10px;
}

footer a:hover{
    letter-spacing: 5px;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    padding: 10px 0px 0px 10px;
}

nav ul li{

}

.level01{
    font-size: 90%;
}

.level02{
    font-size: 80%;
    padding-left: 15px;
}

#tableReg td{
    padding: 10px;
}

#tableReg{
    margin: 0px auto;
}

.center{
    text-align: center;
}

.defaulttable
{
    padding: 15px;
    border: solid;
    border-color: gray;
    border-width: 1px;
}

.defaulttablehead
{
    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    background-color: lavender;
    padding: 5px;
    text-align: center;
}

.defaulttabledata {
    padding: 5px;
    text-align: center;
}

.linklist
{

}

#OneRecipe
{
    width: 200px;
}

#AllRecipes
{
    width: 800px; 
}
#ShowOneRecipe {
    width: 800px;
}
