﻿@model Rezepte_Thomas_Tobias.Models.UserPassword

@{
    ViewBag.Title = "Authenticate";
}

<div class="container">
    
    <div style="text-align: center;">

        <div style="display: inline-block;">

            <h1>Login</h1>

            <div class="row">
                <aside class="col-sm-4">

                    <div class="card" style="min-width: 500px; min-height: 250px;">
                        <article class="card-body">

                            <a href="/User/Registration" class="float-right btn btn-outline-primary">Sign up</a>

                            <h4 class="card-title mb-4 mt-1">Sign in</h4>

                            @using (Html.BeginForm())
                            {
                                <div class="form-group">
                                    <label>E-Mail oder Benutzername</label>
                                    @Html.TextBoxFor(up => up.User, new { @class = "form-control", placeholder = "E-Mail oder Benutzername", type = "username" })
                                </div>

                                <div class="form-group">
                                    <label>Passwort</label>
                                    @Html.TextBoxFor(up => up.Password, new { @class = "form-control", placeholder = "Passwort", type = "password" })
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label> @Html.ValidationSummary() </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                            }

                        </article>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>