﻿@using Rezepte_Thomas_Tobias.Models

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="jumbotron">

        <h2>Userverwaltung</h2>

        <ul class="linklist">

            <li>
                <p>Wenn Sie bereits einen Account haben, können sie sich einloggen.</p>
                <a href='/User/Authenticate'>Weiter zum Login</a>
            </li>

            <li>
                <p>Noch kein Account?</p>
                <a href='/User/Registration'>Account erstellen</a>
            </li>

            @if (Session["LoggedUserObject"] != null && ((User)(Session["LoggedUserObject"])).UserRole == UserRole.Admin)
            {
                <li>
                    <p>Da Sie über Adminrechte verfügen, können sie auf das Userrepository zugreifen.</p>
                    <a href='/User/Repository'>Weiter zum Userrepository</a>
                </li>
            }
         </ul>

    </div>
</div>