﻿@using Rezepte_Thomas_Tobias.Models
@model User

@{
    ViewBag.Title = "OneUser";
}

<div class="container-fluid">

    <h1>OneUser</h1>

    @if (Session["LoggedUserObject"] != null && ((User)Session["LoggedUserObject"]).UserRole == UserRole.Admin)
    {
        if (Model != null)
        {
        <table class="table table-striped">

            <thead class="thead-dark">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Username</th>
                    <th>Birthdate</th>
                    <th>Gender</th>
                    <th>Benutzerrolle</th>
                    <th>EMail</th>
                    <th>ID</th>
                    <th>Back</th>
                </tr>
            </thead>

            <tr>
                <td>@Model.Firstname</td>
                <td>@Model.Lastname</td>
                <td>@Model.Username</td>
                <td>@Model.Birthdate</td>
                <td>@Model.Gender</td>
                <td>@Model.UserRole</td>
                <td>@Model.EMail</td>
                <td>@Model.ID</td>
                <td>@Html.ActionLink("Repository", "Repository")</td>
            </tr>

        </table>
        }
        else
        {
            <p>User mit der angegebenen ID existiert nicht.</p>
        }
    }
    else
    {
        <h2>Sie verfügen über keine Adminrechte und können somit nicht auf diese Seite zugreifen.</h2>
    }

</div>