﻿@model Rezepte_Thomas_Tobias.Models.User

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <td>
                    @Html.ValidationSummary()
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(u => u.Firstname, "Vorname: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Firstname)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Firstname)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.Lastname, "Nachname *: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Lastname)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Lastname)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.Username, "Benutzername: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Username)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Username)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.EMail, "E-Mail *: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.EMail)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.EMail)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.Birthdate, "Geburtsdatum: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Birthdate, new { type = "date" })
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Birthdate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.Gender, "Geschlecht: ")
                </td>
                <td>
                    @Html.EnumDropDownListFor(u => u.Gender)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Gender)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(u => u.Password, "Passwort *: ")
                </td>
                <td>
                    @Html.TextBoxFor(u => u.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Password)
                </td>
            </tr>

            <tr>
                <td colspan="3" style="text-align: center;" class="center">
                    <input type="submit" value="Abschicken" />
                    <input type="reset" value="Abbrechen" />
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">*-Felder sind Pflichtfelder</td>
            </tr>
        </tfoot>
    </table>
}