﻿@using Rezepte_Thomas_Tobias.Models
@model List<User>

@{
    ViewBag.Title = "Repository of all Users";
}

<div class="container-fluid">

    <h1>Repository</h1>

    @if (Session["LoggedUserObject"] != null && ((User)Session["LoggedUserObject"]).UserRole == UserRole.Admin)
    {
        if (Model != null && Model.Count >= 1)
        {
            <table class="table table-striped">

                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Benutzerrolle</th>
                        <th>ID</th>
                        <th>Weitere Informationen zum Benutzer</th>
                    </tr>
                </thead>

                @foreach (User u in Model)
                {
                    <tr>
                        <td>@u.Username</td>
                        <td>@u.UserRole</td>
                        <td>@u.ID</td>
                        <td>@Html.ActionLink("Details", "OneUser/" + @u.ID)</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>Keine Personen vorhanden.</p>
        }
    }
    else
    {
        <h2>Sie verfügen über keine Adminrechte und können somit nicht auf diese Seite zugreifen.</h2>
    }

</div>