﻿<div class="container">
    <div class="page-header">
        <h1 style="color: white">Tobias' und Thomas' Internetkochstube</h1>
        <button data-toggle="collapse" type="button" data-target="#collapseOne" class="btn btn-primary" aria-expanded="true" aria-controls="collapseOne">Navigation anzeigen</button>
    </div>
</div>