﻿@model Rezepte_Thomas_Tobias.Models.Message

<div class="container-fluid">

    @if (Model != null)
    {
        if ((Model.Header != null) && (Model.Header.Trim() != ""))
        {
            <h1>@Model.Header</h1>
        }
        if ((Model.AdditionalHeader != null) && (Model.AdditionalHeader.Trim() != ""))
        {
            <h2>@Model.AdditionalHeader</h2>
        }
        if ((Model.MessageText != null) && (Model.MessageText.Trim() != ""))
        {
            <h3><b>Meldung:</b></h3>
            <h3>@Model.MessageText</h3>
        }
        if ((Model.Solution != null) && (Model.Solution.Trim() != ""))
        {
            <h3><b>Lösung:</b></h3>
            <h3>@Model.Solution</h3>
        }
    }
    else
    {
        <h3>Es wurde keine Meldung übergeben!</h3>
    }

</div>