﻿@using Rezepte_Thomas_Tobias.Models

<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" href="/Home/Index"> <h2>Home</h2> </a>
        </li>

        <li class="nav-item">
            <a class="navbar-brand" href="/Home/Impressum"><h2>Impressum</h2></a>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <h2>Rezepte</h2>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/Recipe/ShowAllRecipes">Alle Rezepte ansehen</a></li>
                <li><a href="/Recipe/SaveNewRecipe">Rezept erstellen</a></li>
            </ul>
        </li>

        @if (Session["LoggedUserObject"] != null && ((User) Session["LoggedUserObject"]).UserRole == UserRole.Admin)
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <h2>Adminoptionen</h2>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/User/Repository">Userrepository anzeigen</a></li>
                </ul>
            </li>
        }
    </ul>

    <ul class="navbar navbar-nav navbar-right">
        <li style="margin-left: 20px;">
            <a href="/Recipe/SaveNewRecipe" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Rezept hinzufügen
            </a>
        </li>
        <li style="margin-left: 20px;"><a href="/User/Registration"><span class="glyphicon glyphicon-user"></span> <h2>Registrieren</h2> </a></li>
        <li style="margin-left: 20px;"><a href="/User/Authenticate"><span class="glyphicon glyphicon-log-in"></span> <h2>Login</h2> </a></li>
    </ul>
</div>