﻿@{
    ViewBag.Title = "Impressum";
}

<div class="container-fluid">
    <div class="jumbotron">
        
    <h1>Impressum</h1>

        <h3>
            <ul>
                <li>
                    <h2>
                        Anschrift:<br/>
                        Kuchenweg 55<br/>
                        1212 Marzipandorf<br/>
                        Tortenland<br/>
                        <br/>
                    </h2>
                </li>

                <li>
                    <h2>
                        Kontakt:<br/>
                        Telefonnummer: 123456789<br/>
                        E-Mail: diebackstube@tsn.at
                    </h2>
                </li>
            </ul>
        </h3>
    </div>
</div>