﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Home</h1>
    
    <h3>Willkommen zu Tobias' und Thomas' Internetkochstube, das Nummer 1 Internetkochbuch.<br/>
    Hier gibt es alle möglichen Rezepte. Außerdem können die Mengen mit der Anzahl der Personen verrechnet werden und es gibt eine 1A Kommentarfunktion.<br/>
    Wir wünschen Ihnen einen frohen Aufenthalt.<br/>
    Mit freundlichen Grüßen,<br/>
    Tobias und Thomas.</h3>
</div>